# OSX
#
/app-movil/EscuelaSinBullying/.DS_Store

# Xcode
#
app-movil/EscuelaSinBullying/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
app-movil/EscuelaSinBullying/ios/.xcode.env.local

# Android/IntelliJ
#
app-movil/EscuelaSinBullying/build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# node.js
#
/app-movil/EscuelaSinBullying/node_modules/
/app-movil/EscuelaSinBullying/npm-debug.log
/app-movil/EscuelaSinBullying/yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

*.code-workspace

#Laravel
/aplicacion-web/bullying/node_modules
/aplicacion-web/bullying/public/hot
/aplicacion-web/bullying/storage/*.key
/aplicacion-web/bullying/.env.backup
/aplicacion-web/bullying/.phpunit.result.cache
/aplicacion-web/bullying/docker-compose.override.yml
/aplicacion-web/bullying/Homestead.json
/aplicacion-web/bullying/Homestead.yaml
/aplicacion-web/bullying/npm-debug.log
/aplicacion-web/bullying/yarn-error.log
/aplicacion-web/bullying/.idea
/aplicacion-web/bullying/.vscode
